<footer>
    <div class="footer">
        <div class="mbox">
            <div class="footer__wrap">
                <div class="footer__left">
                    <div class="footer__up">
                        <div class="footer__col">
                            <div class="list">
                                <div class="list__head">
                                    <span>Каталог</span>
                                </div>
                                <ul>
                                    <li><a href="#">Электроника</a></li>
                                    <li><a href="#">Звук и видео</a></li>
                                    <li><a href="#">Запчасти и расходники</a></li>
                                    <li><a href="#">Свет (освещение)</a></li>
                                    <li><a href="#">Интерьер</a></li>
                                    <li><a href="#">Экстерьер</a></li>
                                    <li><a href="#">Колеса</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="footer__col">
                            <div class="list">
                                <div class="list__head">
                                    <span></span>
                                </div>
                                <ul>
                                    <li><a href="#">Багаж и крепление</a></li>
                                    <li><a href="#">Автохимия</a></li>
                                    <li><a href="#">Техпомощь</a></li>
                                    <li><a href="#">Инструмент</a></li>
                                    <li><a href="#">Туризм</a></li>
                                    <li><a href="#">4х4 джипинг</a></li>
                                    <li><a href="#">Мото</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="footer__col">
                            <div class="list">
                                <div class="list__head">
                                    <span>Компания</span>
                                </div>
                                <ul>
                                    <li><a href="#">О нас</a></li>
                                    <li><a href="#">Контакты</a></li>
                                    <li><a href="#">Магазины</a></li>
                                    <li><a href="#">Партнеры</a></li>
                                    <li><a href="#">Оптовым покупателям</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="footer__col">
                            <div class="list">
                                <div class="list__head">
                                    <span>Покупателям</span>
                                </div>
                                <ul>
                                    <li><a href="#">Доставка</a></li>
                                    <li><a href="#">Оплата</a></li>
                                    <li><a href="#">Гарантия</a></li>
                                    <li><a href="#">Кредит</a></li>
                                    <li><a href="#">Бонусная программа</a></li>
                                    <li><a href="#">Акции</a></li>
                                    <li><a href="#">Карта сайта</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="footer__col">
                        <div class="list">
                            <div class="list__head">
                                <span>Информация</span>
                            </div>
                            <ul>
                                <li><a href="#">Как выбрать</a></li>
                                <li><a href="#">Сравнительные тесты</a></li>
                                <li><a href="#">Новости</a></li>
                                <li><a href="#">Часто задаваемые вопросы</a></li>
                            </ul>
                        </div>
                    </div>
                    </div>
                    <div class="footer__down">
                        <div class="footer__when"><span>© 2016, База автозвука</span></div>
                        <div class="footer__where"><span>Разработано в <a href="#">Турум-бурум</a></span></div>
                    </div>
                </div>
                <div class="footer__right">
                    <a href="tel:0800301585" class="footer__phone">0 800 30-15-85</a>
                    <div class="footer__free">
                        <span>Бесплатно со стационарных <br> и мобильных телефонов Украины</span>
                    </div>
                    <div class="footer__socials">
                        <div class="socials">
                            <div class="socials__head"><span>Следите за нами в соцсетях:</span></div>
                            <div class="socials__items">
                                <a href="#" class="socials__item">
                                    <img src="images/facebook.png" alt="facebook">
                                </a>
                                <a href="#" class="socials__item">
                                    <img src="images/google.png" alt="google">
                                </a>
                                <a href="#" class="socials__item">
                                    <img src="images/twitter.png" alt="twitter">
                                </a>
                                <a href="#" class="socials__item">
                                    <img src="images/youtube.png" alt="youtube">
                                </a>
                                <a href="#" class="socials__item">
                                    <img src="images/vk.png" alt="vk">
                                </a>
                                <a href="#" class="socials__item">
                                    <img src="images/insta.png" alt="instagram">
                                </a>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</footer>