<header>
    <div class="header">
        <div class="header__top">
            <div class="mbox">
                <div class="header__wrap">
                    <div class="header__menu">
                        <ul class="menu">
                            <li><a href="#">Контакты</a></li>
                            <li><a href="#">Магазины</a></li>
                            <li><a href="#">О нас</a></li>
                            <li><a href="#">Доставка</a></li>
                            <li><a href="#">Оплата</a></li>
                            <li><a href="#">Бонусная программа</a></li>
                        </ul>
                    </div>
                    <div class="header__config">
                        <div class="header__inputs">
                            <div class="language">
                                <label>
                                    <input type="radio" name="lang" checked="checked">
                                    <span>Рус</span>
                                </label>
                                <label>
                                    <input type="radio" name="lang">
                                    <span>Укр</span>
                                </label>
                            </div>
                            <div class="city">
                                <span>Ваш город:</span>
                                <div class="city__select">
                                    <select name="" id="" class="js-city">
                                        <option value="Киев">Киев</option>
                                        <option value="Хмельницкий">Хмельницкий</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="login">
                            <a href="#" class="login__link login__link--enter button--img button">
                                <div class="login__img">
                                    <img src="images/lock.svg" alt="lock">
                                </div>
                                <span>Вход</span>
                            </a>
                            <a href="#" class="login__link button">
                                <span>Регистрация</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header__mid">
            <div class="mbox">
                <div class="header__wrap">
                    <div class="logo">
                        <img src="images/logo.png" alt="logo">
                    </div>
                    <div class="search">
                        <input type="text" placeholder="Поиск по названию, коду, категории товара">
                        <button>
                            <img src="images/search.svg" alt="search">
                        </button>
                    </div>
                    <div class="callback">
                        <div class="callback__select">
                            <a href="tel:0800301585" class="callback__link js-call-link">0-800-30-15-85</a>
                            <select name="" class="js-callback">
                                <option value="0-800-30-15-85">0-800-30-15-85</option>
                                <option value="0-800-30-15-75">0-800-30-15-75</option>
                            </select>
                        </div>
                        <a href="#" class="callback__button button"><span>Обратный звонок</span></a>
                    </div>
                    <div class="icons">
                        <a href="#" class="icons__item">
                            <div class="icons__wrap">
                                <div class="icons__image">
                                    <img src="images/garage.svg" alt="garage">
                                </div>
                            </div>
                            <span>Гараж</span>
                        </a>
                        <a href="#" class="icons__item">
                            <div class="icons__wrap">
                                <div class="icons__image icons__image--labeled">
                                    <img src="images/heart.svg" alt="heart">
                                    <span>1</span>
                                </div>
                            </div>
                           <span>Избранное</span>
                        </a>
                        <a href="#" class="icons__item">
                            <div class="icons__wrap">
                                <div class="icons__image">
                                    <img src="images/libra.svg" alt="libra">
                                </div>
                            </div>
                            <span>Сравнение</span>
                        </a>
                        <a href="#" class="icons__item">
                            <div class="icons__wrap">
                                <div class="icons__image">
                                    <img src="images/cart.svg" alt="cart">
                                </div>
                            </div>
                            <span>Корзина</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="header__bot">
            <div class="mbox">
                <div class="header__links">
                    <a href="#" class="catalog">
                        <span>Каталог товаров</span>
                        <img src="images/lines.svg" alt="catalog">
                    </a>
                    <div class="secondary">
                        <div class="secondary__item">
                            <a href="#" class="secondary__link">
                                <img src="images/percent.svg" alt="percent">
                                <span>Акции</span>
                            </a>
                        </div>
                        <div class="secondary__item">
                            <a href="#" class="secondary__link">
                                <img src="images/steps.svg" alt="tests">
                                <span>Сравнительные тесты</span>
                            </a>
                        </div>
                        <div class="secondary__item">
                            <a href="#" class="secondary__link">
                                <img src="images/question.svg" alt="question">
                                <span>Как выбрать</span>
                            </a>
                        </div>
                        <div class="secondary__item">
                            <a href="#" class="secondary__link">
                                <img src="images/y_lines.svg" alt="y_lines">
                                <span>Новости</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</header>