/* base styles*/
*,*:before, *:after{box-sizing:border-box;outline:none;}
*,body,html{-webkit-text-size-adjust: none;-webkit-appearance: none;max-height: 9001em;}
html{height:100%;}
body{min-height:100%;  height: 100%;width:100%;min-width:320px;font-family:ProximaNova, arial,sans-serif;background:#fff;color:#333333;position:relative;font-size: 13px;line-height: 1.25; }
img{vertical-align:bottom;border:0;max-width:100%;}
.mbox{max-width:1320px;width:100%;margin:0 auto;position:relative;z-index:1; padding: 0 15px;}
.global-wrapper{display: flex; flex-direction: column; height: 100%;}
footer {  flex-grow: 0;  flex-shrink: 0;  flex-basis: auto; }
.main{flex-grow: 1; flex-shrink: 0; flex-basis: auto;}
input, textarea{
    &::-webkit-input-placeholder {color:#999999;}
    &:-moz-placeholder {color:#999999;opacity:1;}
    &::-moz-placeholder {color:#999999;opacity:1;}
    &:-ms-input-placeholder {color:#999999;}
}
@mixin font-face($style-name, $file:$style-name, $weight:normal, $style:normal) {
    $filepath: "/fonts/" + $file;
    @font-face {
        font-family: quote($style-name);
        src: url($filepath + ".eot");
        src: url($filepath + ".eot?#iefix") format('embedded-opentype'),
        url($filepath + ".woff") format('woff'),
        url($filepath + ".ttf")  format('truetype'),
        url($filepath + ".svg#" + $style-name + "") format('svg');
        font-weight: $weight;
        font-style: $style;
    }
}

//  example -> @include font-face('PFDinTextPro', 'PFDinTextPro-Bold', 700, italic);

@include font-face('ProximaNova', 'ProximaNova-Regular', 400);
@include font-face('ProximaNova', 'ProximaNova-Semibold', 500);
@include font-face('ProximaNova', 'ProximaNova-Bold', 700);


header {z-index: 100;}

h1 {font-size: 34px;}
h2 {font-size: 27px;}
h3 {font-size: 20px;}
ul {padding: 0; margin: 0; list-style-type: none;}

.button { text-decoration: none; color: #777777; text-align: center; display: inline-block; background-color: transparent; border: none; padding: 0;
    span {margin-left: 10px;}
    &--img { display: flex; align-items: center; justify-content: flex-start; }
    &--buy {background-color: #fb2539; color: #ffffff;
        &:hover {opacity: 0.8;}
    }
    &--more {
        &:hover {
            span {border-color: transparent;}
        }
        span {border-bottom: 1px dashed #c1c1c1; transition: all 200ms;
            &:first-of-type {display: block;}
            &:last-of-type {display: none;}
        }
        &.active {
            &.active {
                img {transform: rotateZ(180deg);}
                span {
                    &:first-of-type {display: none;}
                    &:last-of-type {display: block;}
                }
            }
        }
        &.hidden {display: none;}
    }

}

.header {
    &__top {background-color: #eff0f3; z-index: 20; position: relative;
        .mbox {z-index: 20;}
    }
    &__wrap {display: flex; align-items:center; justify-content: space-between;}
    &__menu { padding-right: 15px; width: 50%; }
    &__config {padding-left: 15px; display: flex;align-items: center; justify-content: space-between; width: 50%;}
    &__inputs {display: flex; align-items: stretch; justify-content: flex-start;}
    &__bot {background-color: #3c3f43;}
    &__links {display: flex; align-items: center; justify-content: space-between;}
    &__mid {z-index: 10; position: relative;}
}


.menu {display: flex; align-items: center; justify-content: flex-start; list-style-type: none; padding-left: 0; margin: 0;
    li {margin-right: 35px;}
    a {text-decoration: none; color: #777777; transition: all 200ms;
        &:hover { color: #333333; }
    }
}

.language { display: flex; align-items: center; justify-content: flex-start;
    label {display: flex; align-items: center; justify-content: center; cursor: pointer;margin-right: 20px;
        margin-left: 2px; }
    span {color: #777777; position: relative; display: block; padding: 14px 2px;
        &:after {width: 100%; height: 2px; background-color: #fb2539; display: none; bottom: 0; left: 0; content: ''; position: absolute; }
    }
    input:checked + span {color: #333333;
        &:after {display: block;}
    }
}

.city { margin-left: 63px; display: flex; align-items: center; justify-content: flex-start;
    span {color: #555555;}
    &__select {height: 100%; display: flex; align-items: center; justify-content: center; border-left: 1px solid #d8d9dc; border-right: 1px solid #d8d9dc;margin-left: 17px; padding: 0 13px 0 5px;}
    .jq-selectbox {border: none;
        &.focused {
            .jq-selectbox__select {border: none;}
        }
        &.opened {
            .jq-selectbox__trigger {
                &:after {
                    transform: rotateZ(-45deg); top: 14px;
                }
            }
        }
    }
    .jq-selectbox__select {background: transparent;  border: none; box-shadow: none; padding-right: 17px; font-family:ProximaNova, arial,sans-serif; height: auto;  }
    .jq-selectbox__trigger {border: none; width: 15px;
        &:after {display: block; width: 6px; height: 6px; border-top: 1px solid #333333; border-right: 1px solid #333333; top: 11px; left: 7px; transform: rotateZ(135deg); content: ''; position: absolute; }
    }
    .jq-selectbox__trigger-arrow {display: none;}
}

.login {display: flex; align-items: center; justify-content: flex-end;
    &__link {margin-left: 38px; color: #777777;
        &--enter {color: #fb2539;
            span {margin-left: 7px;}
        }
        &:hover {color: #fb2539;}
    }
    &__img {width: 11px; height: 19px; }
}

.logo {width: 234px; padding: 36px 20px 20px; background-color: #ffdc2c; display: flex; align-items:center; justify-content:center;
    img { height: auto; object-fit: contain; width: 161px; }
}

.search {display: flex; flex-grow: 1; position: relative; margin: 4px 38px 0 32px;
    input {width: 100%; border: 1px solid #c2c2c2; padding: 14px 23px; border-radius: 23px; }
    button { background-color: transparent; border: 0; width: 18px; height: 18px; padding: 0; position: absolute; right: 18px; top: 50%;  transform: translateY(-50%);  }
}

.callback {display: flex; align-items: center; justify-content: flex-start; margin-right: 32px;margin-top: 38px; align-self: flex-start;
    &__select { position: relative;
        .jq-selectbox__select {color: transparent; background: transparent; box-shadow: none; border: none; padding-left: 0; padding-right: 32px;}
        .jq-selectbox__select-text {font-size: 18px;}
        .jq-selectbox__trigger-arrow {display: none;}
        .jq-selectbox__trigger {border: none;
            &:after {display: block; width: 6px; height: 6px; border-top: 1px solid #333333; border-right: 1px solid #333333; top: 11px; left: 12px; transform: rotateZ(135deg); content: ''; position: absolute; }
        }
        .jq-selectbox { z-index: 1;
            &.focused {
                .jq-selectbox__select {border: none;}
            }
        }

    }
    &__link {color: #333333; font-weight: 700; text-decoration: none; font-size: 18px; position: absolute; left: 0; top: 50%; transform: translateY(-50%); z-index: 101;}
    &__button {border: 2px solid #ffdc2c; padding: 7px 21px; transition: all 200ms;
        &:hover {background-color: #ffdc2c;}
    }
}

.icons {padding-right: 6px; margin-top: 27px; display: flex; align-items: stretch; justify-content: flex-end; align-self: flex-start;
    &__item {display: flex; flex-direction: column; align-items: center; justify-content: space-between; text-decoration: none; color: #555555; margin-left: 18px; }
    &__wrap {margin-bottom: 10px; flex-grow: 1; display: flex; align-items: flex-end; justify-content: center;}
    &__image {
        &--labeled {position: relative;
            span {position: absolute; background-color: #fb2539; width: 16px; height: 16px; border-radius: 8px; padding: 2px; color: #fff; display: flex; align-items: center; justify-content:center; font-size: 10px; right: -9px; top: -6px;}
        }
    }
}

.catalog { width: 234px; color: #ffffff; background-color: #fb2539; text-decoration: none; display: flex; align-self: center; justify-content: space-between; padding: 17px 20px; font-size: 16px; transition: all 200ms;
    &:hover {opacity: 0.8;}
}

.secondary {display: flex; align-items: center; justify-content: center; flex-grow: 1;
    &__item {width: 25%; align-items: center; justify-content:center;}
    &__link {color: #ffffff; text-transform: uppercase; text-decoration: none;  display: flex; align-items: center;justify-content: center; transition: all 200ms;
        img {max-width: 22px;}
        span {letter-spacing: 1px; margin-left: 9px;}
        &:hover {opacity: 0.8;}
    }
}

.footer { background-color: #3c3f43; padding-right: 37px;
    &__left { position: relative; background-color: #474a4e; max-width: 1010px; flex-grow: 1; padding-right: 46px; padding-top: 46px;
        &:after {background-color: #474a4e; width: 100%; position: absolute; height: 100%; right: 100%; top: 0; content: ''; display: block; }
    }
    &__up {display: flex; align-items: flex-start; justify-content: flex-start; margin-bottom: 28px; }
    &__down {border-top: 1px solid #595c5f;}
    &__when {color: #ffffff; opacity: 0.3; font-size: 14px;}
    &__where {color: #999999; font-size: 14px;
        a {color: #dadbdc; font-size: 15px; text-decoration: none;
            &:hover { color: #ffffff;}
        }
    }
    &__right {width: 278px; padding-left: 69px; padding-top: 43px;}
    &__wrap {display: flex; align-items: stretch; }
    &__col {width: 20%;}
    &__free { font-size: 12px; color: #ffffff; opacity: 0.3; }
    &__phone { color: #ffffff; font-weight: 700; text-decoration: none; font-size: 23px;margin-bottom: 13px; display: inline-block; }
    &__free {margin-bottom: 50px;}
    &__down {display: flex; align-items: center; justify-content: space-between; padding: 24px 0px 30px;}
}

.list {
    &__head {font-size: 16px; font-weight: 500; color: #ffffff; margin-bottom: 12px; min-height: 20px; }
    li {margin-bottom: 9px; }
    a {font-size: 14px; color: #ffffff; display: inline-block; text-decoration: none; opacity: 0.44; transition: all 200ms;
        &:hover {opacity: 1;}
    }
}

.socials {
    &__items {display: flex; align-items: flex-start; justify-content: flex-start; flex-wrap: wrap;}
    &__item {background-color: #3c3f43; display: inline-block; width: 42px; min-width: 42px; height: 42px; text-decoration: none; border-radius: 50%; transition: all 200ms; margin: 0 21px 23px 0;
        img {width: 100%; height: 100%; object-fit: contain;}
        &:hover {background-color: #474a4e;}
    }
    &__head {color: #ffffff; opacity: 0.5; letter-spacing: 0.5px;margin-bottom: 19px;}
}

.breadcrumbs {  margin: 11px 0 10px;
    ul {display: flex; align-items: center; justify-content: flex-start; flex-wrap: wrap;}
    li {margin: 5px 10px 5px 0; padding-right: 15px; position: relative;
        &:after { width: 5px; height: 5px; border-top: 1px solid #a8a8a8; border-right: 1px solid #a8a8a8; position: absolute; right: 0; top: 50%; transform: translateY(-50%) rotateZ(45deg); content: ''; display: block; }
        &:last-child { pointer-events: none;
            &:after {display: none;}
        }
    }
    a {color: #999999; text-decoration: none; transition: all 200ms;
        &:hover {color: #333333; }
    }
}

.heading {display: flex; align-items: center; justify-content: space-between; margin: 13px 0;
    h1 {margin: 0;}
    &__label {background-color: #ffdc2c; position: relative; padding: 8px 10px 8px 16px;
        &:before {width: 12px; height: 12px; background-color: #ffffff; border-radius: 50%; display: block; content: ''; position: absolute; left: -6px; top: 50%; transform: translateY(-50%);}
    }
}

.stars {position: relative;
    &__bg {height: 100%; position: absolute; width: 77%;
        //background-color: #ffdc2c;
         }
    &__item {width: 12px; height: 12px; position: relative;  z-index: 1;
        svg {background-color: #ffffff; fill: red; width: 100%; height: 100%;}
    }
}

.information {
    &__right {flex-grow: 1;}
    &__top {display: flex;}
    &__stars {margin: 0 28px 0 24px;}
    &__faq {display: flex; align-items: center; justify-content: flex-start;}
    &__callback {text-decoration: underline; margin-right: 33px;
        span {margin-left: 7px;}
        &:hover {text-decoration: none;}
    }
    &__box { display: flex; align-items: flex-start;  justify-content: flex-start;    margin-top: 33px;}
}

.item { display: flex; margin-top: 27px;
    &__slider {display: flex; align-items: flex-start;justify-content: flex-start; width: 560px;}
    &__images {display: flex; flex-wrap: wrap; width: 150px; flex-shrink: 0; padding-top: 3px;}
    &__mini {margin: 0 10px 10px 0; border: 1px solid #e9eaeb; padding: 5px; width: 65px; height: 65px; flex-shrink: 0; display: flex; align-items: center; justify-content:center;
        &.vid { position: relative;
            &:before {
                position: absolute; content: ''; background: url("../images/play.png"); background-position: 50% 50%; width: 100%; height: 100%; display: block; background-repeat: no-repeat; pointer-events: none;
            }
        }
        &.active {border-color: #ffdc2c;}
    }
    &__large {display: flex; align-items: center; justify-content: center; height: 390px; flex-grow: 1; padding: 10px 10px 0 0;
        img {width: 100%; height: 100%; object-fit: contain; display: none;
            &.active {display: block;}
        }
        video {display: none;
            &.active {display: block;}
        }
    }
    &__frame { display: none;
        &.active {display: block;}
    }
    &__info { margin-left: 32px; flex-grow: 1;}
}

.greybox { padding: 20px 29px 30px 29px; background-color: #f7f7f9; width: 360px;
    &__head {font-size: 20px; color: #999999; font-weight: 700;margin-bottom: 20px;
        span {font-size: 40px; margin-right: 10px;}
    }
    .callback__button { width: 100%; padding: 13px 10px; border-color: #fb2539; font-size: 18px; color: #333333; font-weight: 700;
        &:hover {background-color: #fb2539; color: #ffffff;}
    }
    &__links {display: flex; align-items: center; justify-content: flex-start;
        .information__callback {text-decoration: none; color: #333333; margin-right: 33px;
            span { margin-left: 12px;}
        }
    }
    p {margin: 27px 0px 39px; line-height: 14px;}
}

.same { position: relative; flex-grow: 1; display: flex; align-items: center; justify-content: center; margin-left: 36px;
    .same__box {
        .product {padding-bottom: 0;}
    }
    &__head {font-size: 22px; font-weight: bold; position: absolute; top: -11px; left: 50%; transform: translateX(-50%); background-color: #ffffff; padding: 0 10px; white-space: nowrap; }
    .product__code {display: none;}
    &__box {border: 1px solid #e9eaeb; flex-grow: 1;display: flex; align-items: flex-start; justify-content: center;}
    .product__image { padding: 25px; margin-bottom: 0; }
    .product__text {    padding: 3px 23px;}
    .product__price {font-size: 16px;margin-bottom: 19px;
        span {font-size: 20px;}
    }
    .product__info {margin-bottom: 1px;}
    .product__name {margin: 5px 0px; line-height: 16px;}
    &__show {position: absolute; bottom: -5px; left: 50%; transform: translateX(-50%); padding: 0 10px; background-color: #ffffff;
        a {text-decoration: underline dashed; color: #fb2539; white-space: nowrap;
            &:hover {text-decoration: none;}
        }
    }
}

.product { width: 244px; color: #333333;
    a {color: #333333;}
    &--not {color: #999999;
        a {color: #999999;}
    }
    &__image {height: 225px; width: 100%; padding: 0 10px; display: flex; align-items: center;
        justify-content:center; text-decoration: none; margin-bottom: 17px;
        img {width: 100%; height: 100%; object-fit: contain;}
    }

    &__rate { position: relative; width: 95px; text-align: left; flex-shrink: 0;
        svg { display: block; width: 100%; height: 17.58px; }
    }
    &__stars-box { position: relative; z-index: 100; pointer-events: none; }
    &__stars-behind { position: absolute; width: 0%; background-color: #ff9c00; height: 96%; top: 1px; left: 1px; z-index: 10; }
    &__info { display: flex; align-items: center; justify-content: space-between;padding-right: 9px; margin-bottom: 12px;}
    &__code {color: #999999; font-size: 12px;
        span {margin-left: 5px;}
    }
    &__yes {color: #57ae85; display: none; align-items: center; justify-content: flex-end;
        span {margin-left: 6px;}
        &.active {display: flex;}
    }
    &__ends {display: none; color: #fb2539;
        &.active {display: block; }
    }
    &__name {font-size: 15px; text-decoration: none; display: inline-block;   margin-bottom: 21px;}
    &__price {font-size: 16px; font-weight: 700; display: flex; align-items: flex-end;}
    &__past {color: #ff8941; font-weight: 700;    text-decoration: line-through; font-size: 12px;
        span {line-height: 1;  margin-left: 7px; }
    }
    &__current { display: inline-block;  justify-content: flex-start; line-height: 12px; font-size: 30px; margin-right: 15px;
        span {line-height: 1; font-size: 16px; margin-left: 7px; }
    }
    &__buy { display: flex; justify-content: flex-start; align-items: center;     margin-top: 10px;
        button { background-color: #fb2539; color: #fff; font-weight: 700; border: none; padding: 12px 35px; font-size: 15px; margin-right: 18px; }
        a {display: inline-block; text-decoration: none;}
    }
    &__rating { display: flex; align-items: center; justify-content: flex-start; margin-top: 16px;
        .stars {margin-right: 15px;}
    }

}

.pick {position: relative;
    .kind__arrows {z-index: 10; top: -60px;}
}

.callme { display: flex; align-items: center; justify-content:space-between; padding: 0 7px;
    .callback__button {border-color: #fb2539; font-size: 14px; color: #333333; font-weight: 700; padding: 3px 0px; line-height: 15px; flex-grow: 1;
        &:hover {background-color: #fb2539;}
    }
    &__image {  align-items: center; justify-content: center; width: 70px; display: flex;}
    &__show {color: #333333; text-decoration: underline dashed; text-align: left; display: inline-block; width: 100%; margin: 15px 0 30px; padding-left: 6px; }
}

.arrow { width: 45px; height: 45px; background-color: #474a4e; border: none; display: flex; justify-content: center;  align-items: center; cursor: pointer;  outline: none; background-image: url("../images/prev.png"); background-repeat: no-repeat; background-position: 50% 50%; transition: all 200ms;
    &:hover { background-color: #3c3f43; }
    &--next {transform: rotateZ(180deg);}
}

.kind { margin-top: 70px;
    &__slider {margin: 0 -15px;}
    &__slide {margin: 0 15px;}
    &__box {position: relative;}
    &__arrows {position: absolute; right: 0; top: -6px; display: flex;}
}

.links {margin-top: 73px;
    &__heads {border-bottom: 2px solid #e9eaeb; display: flex; align-items: center; justify-content: flex-start;}
    &__head {text-decoration: none; font-size: 16px; color: #777777; font-weight: 700; margin-right: 61px; padding-bottom: 19px; position: relative;
        &:after {position: absolute;  left: 0; width: 100%; height: 2px; background-color: #fb2539; content: ''; display: none; bottom: -2px;}
        &.active {color: #fb2539; display: block;
            &:after {display: block;}
        }
    }
    &__body {display: none;
        &.active {display: block;}
    }
}

.characters { margin-top: 36px;
    h3 {margin-bottom: 0;}
    &__wrap {display: flex; align-items: flex-start;}
    &__left {flex-grow: 1; width: calc(100% - 366px);}
    &__right {width: 324px; margin-left: 42px; margin-top: 13px; flex-shrink: 0;
        .same { margin-left: 0;
            .product__text {padding: 5px 7px;}
            .product__image { height: 215px; padding: 14px;}
            .product__info { margin-bottom: 9px;}
            .product__price {font-size: 30px; line-height: 1; display: inline-block;    margin-top: 7px;margin-bottom: 10px;
                span {font-size: 16px; margin-left: 10px;}
            }
            &__show {position: static; transform: unset;}
        }
        .product {padding-bottom: 15px;}
    }
    &__table {max-height: 308px; overflow: hidden; height: auto; margin-top: 13px; margin-bottom: 22px;}
    &__desc {height: auto; max-height: 130px; overflow: hidden; font-size: 14px;
        p { margin: 9px 0 23px 0; line-height: 22px; }
    }
    &__block { margin-bottom: 55px;}
    &__heading {display: flex; align-items: center; justify-content: flex-start;}
    &__select { width: 265px; margin-left: 30px;
        .jq-selectbox {width: 100%; }
        .jq-selectbox__select-text { font-family:ProximaNova, arial,sans-serif;}
        .jq-selectbox__select {background: transparent; box-shadow: none; border-radius: 0;}
        .jq-selectbox__trigger {border-left: 0; }
        select {width: 100%;}
    }
    &__look { margin-left: 60px;
        a {display: flex; color: #333; font-size: 14px; align-items: center; justify-content: flex-start;
            &:hover {text-decoration: none;}
        }
    }
    &__arrow { display: flex; align-items: center; justify-content: center; margin-left: 7px;
        img { transform: rotateZ(-90deg); }
    }
    &__watched {position: relative;
        .product {margin: 0 auto; width: 235px; padding: 24px;}
        .kind__slide {margin: 0;  border-top: 2px solid #eff0f3; border-bottom: 2px solid #eff0f3;  border-left: 1px solid #eff0f3;}
        .kind__slider {margin: 0 0 0 -15px;}
        .kind__arrows {z-index: 10; display: flex; flex-direction: column; height: 100%; right: 0; top: 0;
            .arrow {height: 50%;}
        }
        .information__callback {margin-right: 0px;}
    }
}

.table { width: 100%;
    tr {
        &:nth-child(2n - 1) {background-color: #eff0f3;}
    }
    td {padding: 14px 22px;
        &:first-child {width: 50%;}
        &:last-child {width: 50%; padding-left: 58px;}
    }
}

.tabs {
    &__heads {display: flex; align-items: center; justify-content: space-between; margin-bottom: 29px;}
    &__wrap {display: flex; align-items: center; justify-content: flex-start;}
    &__head {font-size: 16px; font-weight: 700; border: 1px solid #e1e1e1; text-decoration: none; color: #777777; padding: 10px; display: inline-block; z-index: 0; margin-left: -1px; padding: 9px 35px;
        &:first-child {margin-left: 0;}
        &.active {border-color: #fb2539; color: #333; z-index: 1;}
    }
    &__body {display: none;
        &.active {display: block;}
    }
}

.question { border: 1px solid #ffdc2c; padding: 28px 25px 28px 30px; display: flex; border-top: 0;
    &.toggle {pointer-events: none; height: 0; opacity: 0; transition: all 200ms; padding: 0 25px 0 30px;
        &.display { pointer-events: all; height: auto; opacity: 1; padding: 28px 25px 28px 30px; transition: all 200ms;}
    }
    &:first-child {border-top: 1px solid #ffdc2c;}
    &__wrap {padding-top: 4px;}
    &__head {display: flex; align-items: center; justify-content: flex-start;}
    &__man {font-size: 16px; font-weight: 700; margin-right: 19px;}
    &__date {color: #999999;}
    &__plus { margin-top: 10px; margin-bottom: 18px;
        span {color: #57ae85; font-weight: 700; margin-right: 7px;}
        &--negative {
            span {color: #f8727e;}
        }
    }
    &__bot {display: flex; align-items: center; justify-content: space-between;}
    &__fingers {display: flex; align-items: center; justify-content: flex-end; color: #777777;}
    &__links {
        a {color: #333333; display: inline-block; border-bottom: 1px solid #c1c1c1; transition: all 200ms; text-decoration: none; margin-right: 35px;
            &:hover {border-color: transparent; }
        }
    }
    &__like { color: #57ae85; font-weight: 700; margin-left: 11px;
        &--not {color: #fb2539; margin-left: 17px;
            button { margin-right: 7px;
                img {transform: scale(1, -1);}
            }
        }
        button {padding: 0; background-color: transparent; border: none;}
    }
    &__box {border-right: 1px solid #e9eaeb; padding-right: 25px;}
    &__grade {font-weight: 700; font-size: 16px; padding-left: 23px;
        .product__stars {margin-right: 9px;}
    }
    &__send {background-color: #ffdc2c; font-size: 15px; font-weight: 700; text-decoration: none; color: #333333; padding: 10px 16px; transition: all 200ms;
        &:hover {opacity: 0.8;}
    }
    &__text {
        p { margin: 8px 0; line-height: 20px; }
    }

    &__chapter { overflow: hidden; max-height: 72px;}
    &__button {margin-top: 15px;}
    .stars {display: flex; align-items: center; margin-top: 9px;}
}

.video { margin: 0 -15px; display: flex; align-items: center; margin-top: 14px;
    &__col {width: 50%; margin: 0 15px;}
    &__place {width: 100%; padding-bottom: 56%; position: relative;
        iframe {position: absolute; }
    }
}

.articles { width: 100%; position: relative;
    &__arrows {position: absolute; right: 0; top: 0; z-index: 10; height: 100%;
        .arrow {height: 50%;}
    }
    &__slider {width: 100%;}
    &__slide {margin-right: 30px;display: block;}
    &__item {text-decoration: none; width: 680px; align-items: stretch; display: flex; height: 236px;
        justify-content: flex-start;}
    &__image { width: 312px;
        img {height: 100%; object-fit: cover; width: 100%;}
    }
    &__text {width: calc(100% - 300px); padding: 28px 30px; border-top: 1px solid #e9eaeb; border-right: 1px solid #e9eaeb; border-bottom: 1px solid #e9eaeb;}
    &__date {color: #999999; font-size: 12px;}
    &__name {font-size: 20px; font-weight: 700; color: #333333; margin-top: 5px;}
    &__info {color: #777777; font-size: 14px; margin-top: 8px;
        line-height: 20px;}
}

.certificates { display: flex; align-items: center; justify-content: space-between;margin-top: 10px;
   &__item {margin: 10px;}
}

.filters {
    .tabs__head {font-size: 14px; font-weight: 400; color: #333333;}
    .tabs__heads { justify-content: flex-start;}
    .tabs__bodies {position: relative;}
    .kind__arrows {z-index: 10; top: -70px;}
}


@media screen and (max-width: 1250px) {
    .item {flex-wrap: wrap;
        &__slider {margin-bottom: 20px; justify-content: center; width: 100%;}
        &__large {flex-grow: 0;}
        &__images {margin-right: 20px;}
    }
    .footer__up {flex-wrap: wrap;}
    .footer__col {width: 33%; margin-bottom: 10px; padding-right: 10px; }
    .header__wrap {flex-wrap: wrap;}
    .header__menu {width: 100%;  padding-bottom: 10px; padding-top: 10px; padding-right: 0; }
    .menu {justify-content: space-between;
        li {margin: 0 10px;}
    }
    .header__config { width: 100%; padding-left: 0; }
    .search {width: 100%;  order: 1; margin: 10px 0;}
    .logo {margin-top: 10px;}
    .icons {align-self: unset; margin-top: 0;}
    .callback {align-self: unset; margin-top: 0;}
}

@media screen and (max-width: 1090px) {
    .header__links { flex-wrap: wrap; }
    .secondary {width: 100%; padding: 10px 0;}
    .header__bot {
        .mbox {padding: 0;}
    }
    .catalog {width: 100%;}
}


@media screen and (max-width: 1050px) {
    .links__heads {border: 0;}
    .links__head { margin: 0 10px;
        &.active {
            &:after {display: none;}
        }
    }
    .footer {padding: 0; overflow: hidden;}
    .footer__wrap {flex-wrap: wrap;}
    .footer__left {padding: 0;    padding-top: 25px;}
    .footer__left:before {
        background-color: #474a4e;
        width: 100%;
        position: absolute;
        height: 100%;
        left: 100%;
        top: 0;
        content: '';
        display: block;
    }
    .footer__right {
        align-items: center;
        justify-content: space-between;
        display: flex;
        width: 100%;
        padding-left: 0;
    }
    .footer__free {margin-bottom: 0;}
    .footer__phone {margin-bottom: 0;}
}

@media screen and (max-width: 1024px) {
    .filters .tabs__heads {
        padding-right: 100px;
        flex-wrap: wrap;
        align-items: stretch;
    }
    .filters .tabs__head {
        width: 25%;  text-align: center; display: flex;
        align-items:center;
        justify-content:center;
    }
}
@media screen and (max-width: 920px) {
    .icons {padding-top: 10px;}
    .logo {width: 110px; padding: 10px;}
}


@media screen and (max-width: 910px) {
    .characters__right {
        display: none;
    }
    .footer__right {flex-wrap: wrap;}
    .footer__socials {width: 100%; margin-top: 20px;}
    .footer__free {flex-grow: 1; margin-left: 20px;
        span {
            br {display: none;}
        }
    }
}

@media screen and (max-width: 810px) {
    .icons {width: 100%; justify-content: space-between;}
    .callback {margin-right: 0;}
    .icons__item {margin: 10px;}
    .secondary {display: none;}
}

@media screen and (max-width: 740px) {
   .video {    flex-wrap: wrap;
        &__col {    margin-bottom: 10px; width: 100%; }
   }
    .links__heads {flex-wrap: wrap;}
    .characters__heading { flex-wrap: wrap; margin-bottom: 15px;
        h3 {width: 100%; margin-bottom: 10px; }
    }
    .characters__select {margin-left: 0;}
    .characters__look {margin-left: 0;}
    .item__info {margin: 0;}
    .information__right { flex-grow: 0; margin: 0 auto; }

}

@media screen and (max-width: 640px) {
    .information__box {flex-wrap: wrap;}
    .item__info {margin-left: 0;}
    .same {margin-left: 0;}
    .certificates {flex-wrap: wrap;}
    .question {flex-wrap: wrap;}
    .question__box {border-right: 0;}
    .information__left {width: 100%;}
    .greybox {width: 100%; margin-bottom: 20px;}
    .question__grade {margin-top: 20px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-left: 0;
        align-items: center;}
    .question .stars {margin-top: 0;}
}

@media screen and (max-width: 600px) {
    .heading.heading--labeled {flex-wrap: wrap;}
    .articles__image {display: none;}
    .articles__text {padding: 10px;  padding-right: 160px;    border-left: 1px solid #e9eaeb;}
    .footer__free {width: 100%; margin-left: 0; text-align: center;}
    .footer__right {justify-content: center;}
    .footer__col {width: 50%;}
}

@media screen and (max-width: 570px) {
    .header__menu {display: none;}
    .header__config {flex-wrap: wrap;}
    .login {width: 100%; order: 1; padding: 10px 0;}
    .header__inputs {width: 100%; order: 2; justify-content: space-between;}
    .city {margin-left: 10px;}
}


@media screen and (max-width: 540px) {
    .heading.heading--labeled {flex-wrap: wrap;}
    .product {margin: 0 auto;}
}

@media screen and (max-width: 480px) {
    .filters .tabs__head {width: 200px;}
    .item__slider { flex-wrap: wrap; }
    .item__images {width: 100%; margin: 0;}
    .information__top {flex-wrap: wrap; align-items: center; justify-content: center;}
    .information__faq {margin-top: 10px;}
    .tabs__heads {width: 100%; flex-wrap: wrap; flex-direction: column-reverse; align-items: flex-start;}
    .tabs__head {width: 50%; text-align: center;}
    .tabs__wrap {margin-top: 10px;}
    .certificates__item {margin: 10px auto;}

    .callback__button {
        padding-left: 4px; padding-right: 4px; text-align: center;
        span {margin-left: 0;}
    }
}


@media screen and (max-width: 420px) {
    .callback__select {display: none;}
    .filters .tabs__heads {
        padding-right: 0;
    }
    .filters .tabs__head {width: 100%;}
    .filters .kind__arrows {
        width: 100%;
        justify-content: space-between;
        top: auto; bottom: -58px;
    }
    .pick .kind__arrows {
        width: 100%;
        justify-content: space-between;
        top: auto; bottom: -58px;
    }
    .kind__arrows {
        width: 100%;
        justify-content: space-between;
        top: auto; bottom: -58px;
    }
    .characters__watched {
        .kind__arrows {width: auto;}
    }
    .footer__col {width: 100%;}
    .footer__down {flex-direction: column; justify-content: flex-start;}
}

@media screen and (max-width: 380px) {
    .question__box {padding-right: 0;}
    .question__bot {flex-wrap: wrap;}
    .question__links {margin-bottom: 10px;}

}






